*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grid_wrapper{
    display: grid;
    height: 100vh;
    grid-template-rows: 100px 60px 800px 300px minmax(100px,1fr);
    grid-template-areas: 
    "hea hea hea"
    "nav nav nav"
    "mai mai mai"
    "se1 se1 se1"
    "foo foo foo"

}

header{
    background-color: rgb(2, 128, 29); /* Set your desired background color */
    grid-area: hea;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

nav{
    background-color: black;
    grid-area: nav;
    color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

}

#main{
    
    grid-area: mai;
    
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: center;
    margin-top: 80px;
    font-size: 35px;


}

#section_1{
 
 grid-area: se1;

 text-align: center;

}

footer{


text-align: center;

}

h1{
text-size-adjust: large;


}

img{
    size


}